.menu{
    background-color: rgba(79,101,52,1);
    height: 100vh;
    width: 100vw;
}

#close{
    height: 200px;
    width: 200px;
}

#facebooklogo{
    height: 140px;
    width: 140px;
}

#instagramlogo{
    height: 140px;
    width: 140px;
}

#youtubelogo{
    height: 140px;
    width: 140px;
}

#linkedinlogo{
    height: 140px;
    width: 140px;
}

#menuclose{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 100px;
    left:550px;
}

#facebook{
    height: 100%;
    max-height: 160px;
    width: auto;
    text-align: center;
    filter: blur(0px) brightness(200%) contrast(160%) hue-rotate(159deg) invert(0%) opacity(100%) saturate(0%) sepia(100%) ;
}

#instagram{
    height: 100%;
    max-height: 160px;
    width: auto;
    text-align: center;
    filter: blur(0px) brightness(200%) contrast(160%) hue-rotate(159deg) invert(0%) opacity(100%) saturate(0%) sepia(100%) ;
    
}

#youtube{
    height: 100%;
    max-height: 160px;
    width: auto;
    text-align: center;
    filter: blur(0px) brightness(200%) contrast(160%) hue-rotate(159deg) invert(0%) opacity(100%) saturate(0%) sepia(100%) ;
}

#linkedin{
    height: 100%;
    max-height: 160px;
    width: auto;
    text-align: center;
    filter: blur(0px) brightness(200%) contrast(160%) hue-rotate(159deg) invert(0%) opacity(100%) saturate(0%) sepia(100%) ;
}